* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8ffff;
}

#navBar {
  padding: 35px;
  background-color: #16697a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: darkorange;
  padding: 9px;
  border: none;
  font-size: 14px;
  margin: 10px;
}

.gen {
  background-color: silver;
}

#flex-container {
  background-color: #e8ffff;
  margin: 150px auto;
  height: 500px;
  width: 950px;
  display: flex;
}

.block {
  color: white;
  font-size: large;
  text-align: center;
  width: 40px;
  margin: 11px;
  background-color: #ffa62b;
}

.footer {
  text-align: center;
}
